.project-card{
    /* margin-left: -5em; */
    transition: all .5s ease-in;
    /* border-radius: 5px; */
    margin-top:100px;
    width: 15%;
    height: 100%;
    opacity: 0.6;
    
}

.project-card:hover{
    /* margin-left: -1em; */
    transform: translateY(-60px) ;
    z-index:1;
    cursor: pointer;
    opacity: 1;
}

.project-content{
    background-color: rgba(0,0,0,.5)
}

.project-content:hover{
    background-color: rgba(0,0,0,0)
}
